/* Carica il font personalizzato */
@font-face {
    font-family: 'AdamBold';
    src: url('fonts/Adam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Stili generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Modifica il logo per mostrare il testo "Barbanera" */
#logo {
    font-family: 'AdamBold', sans-serif;
    font-size: 2.5em;
    color: #333;
    text-transform: uppercase;
}

/* Menu laterale */
#side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #333;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

#side-menu.open {
    left: 0;
}

#side-menu a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
}

#side-menu a:hover {
    background-color: #444;
}

#menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
}

/* Sezioni dinamiche */
.section {
    display: none;
    padding: 40px;
    color: #fff;
    text-align: center;
    height: 100vh;
    transition: all 0.3s ease;
}

.section h2 {
    font-size: 3.5em;
}

/* Colori per le sezioni */
#home-section {
    background-color: #ff6347; /* Tomato */
}

#menu-section {
    background-color: #ff8c00; /* Dark Orange */
}

#ordina-section {
    background-color: #228B22; /* Dark Green */
}

#ombrelloni-section {
    background-color: #1e90ff; /* Dodger Blue */
}

#recensioni-section {
    background-color: #9932cc; /* Dark Orchid */
}

#contatti-section {
    background-color: #ff1493; /* Deep Pink */
}

/* Pulsante WhatsApp */
.whatsapp-btn {
    display: inline-block;
    margin: 10px;
    background-color: #25D366;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
}

.whatsapp-btn i {
    margin-right: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
